
 <%include header%>


        <form method="post" action="/blog/add" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title:</label>
                <input name="title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Category:</label>
                <input name="category" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Body:</label>
                <textarea name="body" id="body" class="form-control"></textarea>
            </div>
            <!--<div class="form-group">-->
                <!--<label>Main Image:</label>-->
                <!--<input name="mainimage" type="file" class="form-control"/>-->
            <!--</div>-->
            <div class="form-group">
                <label>Author:</label>
                <input name="author" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Image:</label>
                <input name="mainimage" type="file" class="form-control"/>
            </div>
            <input name="submit" type="submit"  class="btn btn-default"/>
        </form>
<script src="/ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('body');</script>

<% include footer%>
