<!DOCTYPE html>
<html>
  <head>
    <title>Admin DashBoard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/jquery-min.js"></script>
    <script src="/javascripts/admin.js"></script>
  </head>
  <body onload="init()">
  	<h1>Vivo Desport</h1>
    <form onsubmit="submitfrm()" id="test" action="/api/player" method="post">
      <input type="text" placeholder="name" name="name"/>
      <input type="text" placeholder="age" name="age"/>
      <input type="text" placeholder="username" name="username"/>
      <input type="text" placeholder="password" name="password"/>
      <input type="submit" value="CREaTE">
    </form>
    <div id="profile">Loading...</div>
  </body>
</html>