<!DOCTYPE html>
<html>
<head>
 <title>Form</title>
</head>

<body>
 <form method='POST' action="/aboutUs/editDesignation?id=<%= id%>">
   <input type="text" name="input1" id="input1">New designation</input>
   <br>
   <button id="submitButton1" type="submit" class="btn btn-success" type="submit">SUBMIT</button>
 </form>
</body>
</html>
