   <script type="text/javascript" src="/../js/jquery-2.2.2.min.js"></script>
      <script type="text/javascript" src="/../js/materialize.min.js"></script>
      <!-- Include Bootstrap Css -->
      <link rel="stylesheet" href="/../assets/css/bootstrap.min.css">
      <!-- Include Bootstrap Min Css -->
      <link rel="stylesheet" href="/../assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/../assets/css/style.css">
      <link rel="stylesheet" href="/../assets/css/animate.min.css">
      <link href ="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
       <footer id="colophon" class="footer site-footer" role="contentinfo" style="width:100%;" >


                <div class="footer-bottom" style="height:150px;">
                  <div class="item wow animated fadeInRight" style="height:100px;" data-wow-delay=".35s">
                    <div class="container">

                     <ul style="font-size:medium;text-align:center;">
                         <li class ='active'><a href="/">Home</a></li>&nbsp;|&nbsp;
                         <li><a href="/html/advertising.html">Advertising</a></li>&nbsp;|&nbsp;
                         <li><a href="/blog">Blog</a></li>&nbsp;|&nbsp;
                         <li><a href="/html/About.html">About Us</a></li>&nbsp;
                     </ul>
                    </div>
                    <div style="text-align:center;color:#7C7C7C"> copyright@vivodesportes2016</div>


                    <div class="vdContact">
                    <div><h6>Contact</h6></div>
                    <div><i class="fa fa-envelope fa-2x"  aria-hidden="true"></i> &nbsp <a href = "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=hrvivodesportes@gmail.com">hrvivodesportes@gmail.com</a></div>
                    <div><i class="fa fa-phone fa-2x"  aria-hidden="true"></i>&nbsp +91 8141436399</div>




                    </div>
                     <div class="vdSocial">
                       <div class="vds"><a href="https://www.facebook.com/vivo.desportes/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></div>
                       <div class="vds"><a href="https://twitter.com/VivoDesportes" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
                   </div>

                </div>



     </footer>
