<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <!-- Include Bootstrap Min Css -->
  <script src="../assets/js/bootstrap.js"></script>

    <title>Blog</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div class="jumbotron">
<div class="container">
    <nav class="navbar navbar-inverse navbar">
        <ul class ="nav navbar-nav">
            <li class="active"><button class ="btn btn-xs btn-default"><a href="/../admin/admin.html">Home</a></button></li>
            <li><button class ="btn btn-xs btn-success"><a href="/blog/add">Add Post</a></button></li>
            <li><button class ="btn btn-xs btn-danger"><a href="/blog/delete">Delete And edit Post</a></button></li>
            <li><button class ="btn btn-xs btn-primary"><a href="/../html/career_edit.html">Career </a></button></li>
        </ul>
    </nav>
