<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="/javascripts/lib/react.js"></script>
    <script src="/javascripts/lib/react-dom.js"></script>
    <script src="/javascripts/lib/browser.js"></script>
    <script src="/javascripts/lib/jquery-min.js"></script>
  </head>
  <body>
    hi <%= name %>
  	<h1>Vivo Desport</h1>
  	<div id="example">Loading...</div>
    <script type="text/babel" src="/javascripts/count.js"></script>
  </body>
</html>
