<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
<form action="/api/login" method="post">
	<input type="text" name="username" placeholder="username" />
	<input type="password" name="password" placeholder="password" />
	<input type="submit" />
</form>
</body>
</html>