

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />

      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
    <nav class="black" role="navigation" id = "header">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo center">
          <!-- <img src="/images/Logo.png" alt="Vivo Desportes" width="100px" height="100px"> -->
          <h1>Vivo Desport&eacutes</h1>
        </a>
        <!-- <h2 class="center"> VIVO DESPORTES </h2> -->
    </div>
    </nav>

    <nav class="grey darken-2" role="navigation" id = "tabs">
      <div class="nav-wrapper">
      <div class="row">
        <div class="col" text-align: justify;>
          <!-- <div class="seven-menu"> -->
              <button href="Players.html" class="waves-effect waves-light btn" id="seven-menu">Players</button>
              <button href="Tournaments.html" class="waves-effect waves-light btn" id="seven-menu">Tournaments</button>
              <button class="waves-effect waves-light btn" id="seven-menu">Skills</button>
              <button href="About.html" class="waves-effect waves-light btn" id="seven-menu">About us</button>
              <button class="waves-effect waves-light btn" id="seven-menu">Career</button>
              <button class="waves-effect waves-light btn" id="seven-menu">Blog</button>
          <!-- </div> -->
        </div>

        <div class="col" id="searchBox">
        <section class="webdesigntuts-workshop">
          <form action="" method="">
          <input type="search" placeholder="Search...">
            <button>Search</button>
          </form>
        </section>
        </div>

  </div>

          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="section">
        <h3> Player Profiles </h3>
       <div class="row" id="players">



       </div>
    </div>
  </div>

      <footer class="page-footer black">
          <div class="container" id="Contact">
              <div class="row">
                  <div class="col l8 s12">
                      <h5 class="white-text">Contact</h5>
                      <div class="valign-wrapper">
                          <i class="material-icons grey-text text-lighten-4">email</i>
                          <h6 class="grey-text text-lighten-4"> &nbsp;&nbsp;hrvivodesportes@gmail.com</h6>
                      </div>
                      <div class="valign-wrapper">
                          <i class="material-icons grey-text text-lighten-4">phone</i>
                          <h6 class="grey-text text-lighten-4"> &nbsp;&nbsp;Number</h6>
                      </div>
                      <!-- <p class="grey-text text-lighten-4">tedx.daiict@gmail.com</p> -->


                  </div>
                  <div class="col l3 offset-l1 s12">
                      <h5 class="white-text">Connect</h5>
                      <ul style="display:flex;flex-direction:row;">
                          <li>
                              <a href="https://twitter.com/vivodesportes" target="_blank">
                                  <svg class="svg-icon" viewBox="0 0 20 20">
                                      <path fill="none" d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266"></path>
                                  </svg>
                              </a>
                          </li>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <li>
                              <a href="https://www.facebook.com/vivodesportes" target="_blank">
                                  <svg class="svg-icon" viewBox="0 0 20 20">
                                      <path fill="none" d="M11.344,5.71c0-0.73,0.074-1.122,1.199-1.122h1.502V1.871h-2.404c-2.886,0-3.903,1.36-3.903,3.646v1.765h-1.8V10h1.8v8.128h3.601V10h2.403l0.32-2.718h-2.724L11.344,5.71z"></path>
                                  </svg>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container center">
                  Copyright © 2016 Vivo Desportes . All rights reserved.
              </div>
          </div>
      </footer>


      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <script type="text/javascript" src="../javascripts/players.js"></script>
    </body>
  </html>
