<html >
<head>
  <meta charset="utf-8">
  <title>Admin:Tournaments</title>
  <link rel="stylesheet" type="text/css" href="/admin/semantic/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/admin/semantic/dist/semantic.min.js"></script>
  <style type="/text/css">

  form{
  	/*width: 500px;
  	*/
    display: flex;
    flex-direction:row;
  }
  input{
    margin: 10px;
  }
  </style>
</head>
<body>

  <div class="ui left inverted  vertical menu sidebar visible">
  <a class="item" href="http://www.vivodesportes.com"> Vivo Desportes</a>
  <a class="item active" href="/../admin/admin.html"> Statistics</a>
  <a class="item" href="/../admin/player.html"> Players </a>
  <a class="item" href="/../admin/blog_admin.html"> Blog </a>
  <a class="item" href="/../admin/aboutus_admin.html"> About Us</a>
  <a class="item" href="#">Videos</a>
  <a class="item" href="/../admin/tourn.html"><i class="soccer icon"></i> Tournaments </a>
  </div>
<div class="pusher">
  <div class="pusher">
    <div class="ui icon message">
      <i class="soccer icon"></i>
      <div class="content">
        <div class="header"><h3>View Tournaments</h3></div>
      </div>
    </div>

	<p id="tournament-details"></p>







</div>
<script type="text/javascript" src="/admin/tourn_view.js"></script>

</body>
</html>
