/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.slider .indicators .indicator-item.active {
    background-color: black;
}
footer.page-footer{
    margin-top: 0
}

a {
  text-decoration: none;
  color: inherit;
}



*/
@import url("http://fonts.googleapis.com/css?family=cabin:400");
.circle {
    border: 1px solid black;
    border-radius: 50%;
    width:100%;
    display: inline-block;
}
body {
    background: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
#main {
    flex: 1 0 auto;
}
#header {
  height: 90px;
  background-color: #2A2626 !important;
}
#opacNav{
  opacity: 1;
}
#logoimage{
  height:95px;
  margin-top: -3px !important;
  width:180px;
  margin-left: 10%;
  margin-left:10px;
  border-radius: 20px;
}
#productName{
  margin-left:10px;
  color:white;
  font-size: 5vh;
}
#pagenavbtn{
  width:auto;
  font-size: 2vw;
  color: black;
  text-align:center;
}
/*#footer-style{
  height:150px;
  margin-top:0px;
  width: 100%;
  padding-top:0px;
  opacity: 1;
}*/
#search-box{
  display:inline;
  height:40px;
  margin-top: 0.3%;
  margin-right: 0.7%;
  float: right;
  width: auto;
  background-color:white;
  border: 2px solid white;
  border-radius: 15px;
}
#clickBox {
  cursor: pointer;
}
#search{
  height:auto;
  padding-left: 1rem;
}
#searchboxdiv,#searchText{
  height:35px;
  color:black;
  vertical-align:top;
}
#navbar-tabs{
  margin-left:5%;
}
#loginbutton{
  margin-right:-10px;
  margin-top: 0px;
  padding: 3px;
  color:white;
}
#registerbutton{
  margin-top: 0px;
  color:white;
  padding: 3px;
}
.row{
  margin-bottom: 0px;
}
/*.slider{
  height: 100% !important;
  width : 100%;
}*/
.slides{
  height: 100%;
}
#teststyle {  display:none;
margin-top: 3%;
margin-left: 3%;
background-image: none;
position: absolute;
float: right;
z-index: 5;
height: 12%;
width: 12%;
}
#main-content{
  /*background-image: url("../images/10.jpg");
  background-repeat:no-repeat;
  background-size: cover;*/
}
#homescreen-content{
  margin-left: 5%;
  margin-right: 5%;
}
#vivo-news {
  margin-top: 10px;
}
#world-news {
  height: 500px;
  overflow-y:scroll;
  margin-top: 10px;
  margin-bottom: 20px;
}
#news-section {
  overflow-y: scroll;
  height: 95%;
}
#image-slider{
  height: 100%;
  position:relative;
  margin-top: 10px;
  bottom: 0px;
}
#slogan{
  color:gold;
}
#tourList{
  margin-top: 0px;
}
#email-div{
  position: relative;
  left: 25%;
  top:50%;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}*/

/* parth */
span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
.star-ratings-sprite {
  background: url("../images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;

  &-rating {
    background: url("../images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }

}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
/* Opacity #1 */
.hover11 figure #playerpic {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover11:hover #playerpic {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
.hover11 addbtn:hover #playerpic {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
.hover11 {
    display: inline;
    position: relative;
}
figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
}
#addbtn{
    display: none;
    position: absolute;
    top: 40%;
    bottom: 50%;
    right: 50%;
    left: 38%;
    z-index: 2;
}
#star_gold{
  color: goldenrod;
  border-color: black;
}
#star_calculate{
  margin-left: 10%;
}
#skill_info{
  color: brown;
  font-size-adjust: 50%;
}
/*parth*/

/*Shaunak*/
#filters{
  width: 20%;
}
#tourList{
  width: 80%;
}
/*Shaunak*/
