
/*
* This section is for editing all the information regarding videos section and the inner skills seciton as well.
*/

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  width: 100%;
}

.card-content {
  overflow:scroll;
  height: 200px;
}

.card-action {
  text-align: center;
}

#knowmorebtn{
   border:none;
   background: none;
   font-size: 15px;
   text-align: justify;
}
